.TelaLogin{
    height: 100%;
}

div.LogoLogin{
    background-color: #FFCC17;
    width: 50%;
    height: 100%;
    min-height: 563px;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.LogoLogin img{
    width: 400px;
    height: 400px;
}

div.TelaLogin{
    display: flex;
    justify-content: space-around;
}

.form-group{
    width: 70%;
    height: 90%;
    
}

div.Formularios{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column-reverse;
}
div.Formularios div {
    margin: 10px;
}
div.Formularios div .menulogin{
    font-size: 1.3em;
}
div.Formularios div .menulogin input{
    border-radius: 100px;
}
.Botao-login{
    margin-top: 20px;
    text-align: center;
}